
html{
    height:100%;
}
*{
    margin:0;
    padding:0;
}
picture img{
    width:120px;
    margin-left: 4px;
}
body{
    background-color: rgb(255, 255, 255);
}
.second{
    background-color: rgb(3, 192, 226);
    height: 47px;
}
.third{
    margin-top: 350px;
    background-color: rgb(3, 192, 226);
    height: 47px;
}
.fourth{
    background-color:rgb(3, 192, 226);
    height: 47px; 
    margin-top: 420px;
}
.fifth{
    background-color: rgb(3, 192, 226);
    height:45px; 
    margin-top: 420px;
}
.fifth article{
    display: inline-block;
}
.fifth article img{
    margin-left: 60px;
    margin-top:50px;
}
.fifth p{
    text-align: center;
    font-size: 25px;
    color:blue;
    margin-left:62px;
    border: 2px solid indigo;
    margin-bottom: 30px;
}
.fifth article button{
    text-align: center;
    font-size: 25px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin-left:62px;
    border: 1px solid indigo;
    margin-bottom: 30px;
    background-color: orange;
}
h2{
    color:white;
    font-size: 30px;
    text-align: center;
    margin-top: 23px;
}
article{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
article img:first-of-type {
    padding:0px 40px;
     width:178px; 
     border:1px solid indigo;
     border-radius: 2px;
     
   
 }
 article img:nth-of-type(2) {
     width:520px;
    
 }
 article img:nth-of-type(3) {
     margin-top: 24px;
     width:185px;
     margin:20px;
     padding:0px 12px;
     
 }
article img:nth-of-type(4) {
    margin-top: 27px;
    width:175px;
    margin:20px;
   padding:2px 45px;
}
article img:nth-of-type(5) {
    margin-top: 24px;
    width:175px;
    margin:20px;
    
}
article img:first-of-type:hover{
    width:200px;
}
article img:nth-of-type(2):hover{
    width:300px;
}
article img:nth-of-type(3):hover{
    width:210px;
}
article img:nth-of-type(4):hover{
    width:200px;
}
article img:nth-of-type(5):hover{
    width:210px;
}

img{
    width:180px;
}
.first{
  
    box-shadow: 0px 60px rgb(3, 192, 226);
    background-color: rgb(255, 255, 255);
}
picture{
    display: flex;
    align-items: flex-start;
}
.title{
    font-size: 45px;
    font-family:cursive;
    margin-top: 20px;
    color:rgb(226, 3, 3);
    margin-left: 64px;
}
a{
    display: inline-block;
    padding: 64px 64px;
    margin-left: 32px;
    text-decoration: none;
    font-size:20px;
    font-family:cursive;
    text-align: right;
    color:rgb(226, 3, 3);
}
h3{
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    color:brown;
}
a:hover{
    color:rgb(17, 199, 0);
}

div {
    display:flex;
    gap:2px;
    justify-content: flex-start;
    align-content: flex-start;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div p:hover{
    color:rgb(122, 255, 110);
}
div p:first-of-type {
    margin-left: 10px;
    margin-top: 21px;
}
div p:nth-of-type(2){
   margin-left: 22px;
    margin-top: 21px;
}
div p:nth-of-type(3){
    margin-left: 32px;
     margin-top: 21px;
}
div p:nth-of-type(4){
    margin-left: 44px;
     margin-top: 21px;
}
div p:nth-of-type(5){
    margin-left:45px;
     margin-top: 21px;
}
div p:nth-of-type(6){
    margin-left:57px;
     margin-top: 21px;
}
div p:nth-of-type(7){
    margin-left:62px;
     margin-top: 21px;
}
div p:nth-of-type(8){
    margin-left:78px;
     margin-top: 21px;
}
.firstdiv{
   background-color: rgb(3, 192, 226);
   width:80px;
   height:60px;
   position:absolute;
   margin-top: 0px;
   margin-left:4px;
  
}
    #slideshow {
    overflow: hidden;
    height: 200px;
    width: 1000px;
    margin-top: 100px ;
    margin-left: 160px;
    }
    .slide {
    float: left;
    height: 510px;
    width: 728px;
    }
    
    /* Add animation to the slides */
    .slide-wrapper {
    width: calc(728px * 4);
    animation: slide 5s ease infinite;
    }

    /* Set the background color
    of each of the slides */
    .slide:nth-child(1) {
    background: green;
    
    }
    
    .slide:nth-child(2) {
    background: rgb(206, 44, 71);
    }
    
    .slide:nth-child(3) {
    background: rgb(12, 26, 226);
    }
    
    .slide:nth-child(4) {
    background: rgb(255, 123, 0);
    }
    
    /* Define the animation
    for the slideshow */
    @keyframes slide {
    
    /* Calculate the margin-left for
    each of the slides */
    20% {
        margin-left: 0px;
    }
    
    40% {
        margin-left: calc(-728px * 1);
    }
    
    60% {
        margin-left: calc(-728px * 2);
    }
    
    80% {
        margin-left: calc(-728px * 3);
    }
    }