*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(255, 207, 118);
}
main form{
    display:flex;
    flex-direction: column;
    margin:16px;
    padding:32px;
    gap:16px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
h1{
    color:rgb(114, 9, 67);
}
::placeholder{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size:16px;
    display:block;
    color:indigo;
}
input,textarea,select{
    width:400px;
    padding:16px;
    border:1px solid indigo;
    font-weight:bold;
    color:indigo;
}
input:hover , textarea:hover , select:hover{
    border:2px solid indigo;
}
select{
    font-size: 16px;
    color:indigo;
    font-weight:bold;
}
button{
    font-size:20px;
    margin-top: 16px;
    background-color: rgb(68, 4, 39);
    padding:8px 16px;
    border:2px solid #555;
    color:white;
}