<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13 reasons why</title>
    <link rel="stylesheet" href="/static/lordoftherings.css">
</head>
<body>
	<header>
		<picture>
            <a href="/home">
                <img src="/static/logo.png" alt ="this is bookstore logo"/>
      </a>
       </picture>
    </header>
<section>
    <h1>13 Reasons Why</h1>
</section>
  <main>        
            <article>is a young adult novel written by Jay Asher in 2007,
             that follows the story of Hannah Baker, a high school freshman, and the thirteen reasons why she commits suicide.Following her death, Hannah leaves behind a series of 7 double-sided cassette tapes detailing the 13 specific people and events that she blames for her demise.Two weeks after her death these cassette tapes are mailed out with directions to pass the tapes on to the next person on the tape.[1] Hannah's life story is conveyed through these tapes, which are narrated by Hannah herself, and through the point of view of Clay, her classmate and the ninth person to receive the tapes.The inspiration behind the main character, Hannah Baker, comes from author Jay Asher's close relative who attempted suicide.
             Since the novel's publication in 2007, Thirteen Reasons Why has received much recognition.As of 2014 Thirteen Reasons Why had been a New York Times bestseller for over 3 years and published in multiple countries.The novel's success has also been met with backlash, becoming the third-most banned book in the United States between 2010 and 2019.Additionally, in March 2017 a Netflix original series was released based on the book
            </article>
            <section>
                <p>Price of the book : 50 L.E</p>            
            </section>
    </main>
</body>      
</html>