<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding books to the bookstore</title>
    <link rel="stylesheet" href="/static/addbooks.css">
</head>
<body>
    <header>
        <h1>Adding books to the book store </h1>
    </header>
    <form method="post" action="addb">
        <input placeholder="Book name" name="bookname"/>
        <input placeholder="category" name="category"/>
        <input placeholder="Price" name="price"/>
        <input placeholder="Book Cover" name="bookcover"/>
        <textarea placeholder="What is the book about ?" name="bookplot"></textarea>
        <div>
        <button> Done </button>
        </div>
    </form> 
</body>
</html>