<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="/static/buy.css">
</head>
<main>
<body>
    <header>
        <h1>Order the book you want</h1>
    </header>
    <label>Name</label>
    <input />
    <label>telephone number</label>
    <input />
    <label>Address</label>
    <input />
    <label>book category</label>
    <select>
        <option>drama</option>
        <option>science fiction</option>
        <option>comedy</option>
    </select>
    <label>how do you want to pay?</label>
    <select>
        <option>credit card</option>
        <option>cash</option>
    </select>
    <button>order now</button>
</body>
</main>
</html>