<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lord of the rings book</title>
	<link rel="stylesheet" href="/static/lordoftherings.css">
</head>
<body>
	<header>
		<picture>
      <a href="/home">
        <img src="/static/logo.png" alt ="this is bookstore logo"/>
      </a>
    </picture>
  </header>
  <section>
    <h1>Carry On, Jeeves</h1>
</section>
  <main>        
    <article>Carry On, Jeeves is a collection of ten short stories by P. G. Wodehouse. It was first published in the United Kingdom on 9 October 1925 by Herbert Jenkins, London, and in the United States on 7 October 1927 by George H. Doran, New York.[1] Many of the stories had previously appeared in the Saturday Evening Post, and some were rewritten versions of stories in the collection My Man Jeeves (1919). The book is considered part of the Jeeves canon.
      The first story in the book, "Jeeves Takes Charge", describes Jeeves' arrival in his master's life, as a replacement for Wooster's previous, thieving valet, and features Lady Florence Craye, as well as a passing mention of Lord Emsworth and Blandings Castle.
      Several of the other stories are set in New York, and the book includes appearances by regular characters Bingo Little, Aunt Dahlia, Anatole, and Sir Roderick Glossop.
    </article>
    <section>
      <p>Price of the book : 400 L.E</p>            
    </section>
  </main>
</body>
</html>