<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="/static/contact.css">
</head>
<main>
<body>
    <header>
        <h1>Contact us</h1>
    </header>
    <form method="post" action="thanks">
        <input placeholder="Name" />
        <input placeholder="Email" />
        <select>
            <option>Query</option>
            <option>Support</option>
        </select>
    <button> Send </button>
    </form>
</body>
</main>
</html>