<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lord of the rings book</title>
	<link rel="stylesheet" href="/static/lordoftherings.css">
</head>
<body>
	<header>
		<picture>
      <a href="/home">
        <img src="/static/logo.png" alt ="this is bookstore logo"/>
      </a>
    </picture>
  </header>
  <section>
    <h1>The Government inspector</h1>
</section>
  <main>        
    <article>
        is a satirical play by Russian dramatist and novelist, Nikolai Gogol.Originally published in 1836, the play was revised for an 1842 edition. Based upon an anecdote allegedly recounted to Gogol by Pushkin,[2] the play is a comedy of errors, satirizing human greed, stupidity, and the extensive political corruption of Imperial Russia.
        he dream-like scenes of the play, often mirroring each other, whirl in the endless vertigo of self-deception around the main character, Khlestakov, who personifies irresponsibility, light-mindedness, and absence of measure. "He is full of meaningless movement and meaningless fermentation incarnate, on a foundation of placidly ambitious inferiority" (D. S. Mirsky). The publication of the play led to a great outcry in the reactionary press. It took the personal intervention of Tsar Nicholas I to have the play staged, with Mikhail Shchepkin taking the role of the Mayor.
        According to D. S. Mirsky, The Government Inspector "is not only supreme in character and dialogue – it is one of the few Russian plays constructed with unerring art from beginning to end. The great originality of its plan consisted in the absence of all love interest and of sympathetic characters. The latter feature was deeply resented by Gogol's enemies, and as a satire the play gained immensely from it. There is not a wrong word or intonation from beginning to end, and the comic tension is of a quality that even Gogol did not always have at his beck and call."In 2014, the play was ranked by The Telegraph as one of the 15 greatest ever written
    </article>
    <section>
      <p>Price of the book : 250 L.E</p>            
    </section>
  </main>
</body>
</html>