<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> A mid summer night`s dream book</title>
    <link rel="stylesheet" href="/static/lordoftherings.css">
</head>
<body>
<header>
    <picture>
        <a href="/home">
            <img src="/static/logo.png" alt ="this is bookstore logo"/>
      </a>
    </picture>
</header>
<section>
    <h1>A mid summer night`s dream</h1>
</section>
    <main>        
            <article>Midsummer Night's Dream is a comedy written by William Shakespeare c. 1595 or 1596. The play is set in Athens, and consists of several subplots that revolve around the marriage of Theseus and Hippolyta. One subplot involves a conflict among four Athenian lovers. Another follows a group of six amateur actors rehearsing the play which they are to perform before the wedding. Both groups find themselves in a forest inhabited by fairies who manipulate the humans and are engaged in their own domestic intrigue. The play is one of Shakespeare's most popular and is widely performed.</article>
            
            <section>
                <p>Price of the book : 125 L.E</p>            
            </section>
    </main>
</body> 
</html>