<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oliver twist book</title>
    <link rel="stylesheet" href="/static/lordoftherings.css">
</head>
<body>
	<header>
		<picture>
      <a href="/home">
        <img src="/static/logo.png" alt ="this is bookstore logo"/>
      </a>
        </picture>
    </header>
  <section>
    <h1>Oliver Twist</h1>
  </section>
  <main>        
            <article>, Charles Dickens's second novel, was published as a serial from 1837 to 1839, and as a three-volume book in 1838.Born in a workhouse, the orphan Oliver Twist is sold into apprenticeship with an undertaker. After escaping, Oliver travels to London, where he meets the "Artful Dodger", a member of a gang of juvenile pickpockets led by the elderly criminal Fagin.
                Oliver Twist unromantically portrays the sordid lives of criminals, and exposes the cruel treatment of the many orphans in London in the mid-19th century.[2] The alternative title, The Parish Boy's Progress, alludes to Bunyan's The Pilgrim's Progress, as well as the 18th-century caricature series by painter William Hogarth, A Rake's Progress and A Harlot's Progress
                In an early example of the social novel, Dickens satirises child labour, domestic violence, the recruitment of children as criminals, and the presence of street children. The novel may have been inspired by the story of Robert Blincoe, an orphan whose account of working as a child labourer in a cotton mill was widely read in the 1830s. It is likely that Dickens's own experiences as a youth contributed as well.
                Oliver Twist has been the subject of numerous adaptations, including a highly successful musical, Oliver!, the multiple Academy Award-winning 1968 motion picture, and Disney's animated film Oliver & Company in 1988
            </article>
            <section>
                <p>Price of the book :100 L.E</p>            
            </section>
    </main>
</body>            
</html>