<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lord of the rings book</title>
    <link rel="stylesheet" href="/static/lordoftherings.css">
</head>
<body>
	<header>
		<picture>
      <a href="/home">
        <img src="/static/logo.png" alt ="this is bookstore logo"/>
      </a>
        </picture>
    </header>
    <section>
    <h1>Percy Jackson</h1>
    </section>
  <main>        
            <article>Percy Jackson & the Olympians is a pentalogy of fantasy novels written by American author Rick Riordan, and the first book series in the Camp Half-Blood Chronicles. The novels are set in a world with the Greek gods in the 21st century, and follows the protagonist Percy Jackson, a young demigod who must prevent the Titans from destroying the world.

                The first three books were published in the United States by Miramax Books before it was folded into Hyperion Books, which published the following books. All the books were published in the United Kingdom by Penguin Books. Five supplementary books, along with graphic novel versions of each book, have also been released. As of January 2022, the books have sold more than 180 million copies worldwide, making it one of the best-selling book series of all time.[1]
                
                The first book was adapted into a film titled Percy Jackson & the Olympians: The Lightning Thief in 2010, which was commercially successful, but received mixed reviews from critics and the audience. An adaptation of the second book, titled Percy Jackson: Sea of Monsters, was released in 2013 to mixed reviews as well. A TV series based on the novels is in development for Disney+</article>
            
                <section>
                    <p>Price of the book : 200 L.E</p>            
                </section>
    </main>
</body>
</html>